.home {
  .page-heading {
    font-size: var(--font-size-large);
    margin: 1.25rem;
    @include media-query($on-palm) {
      margin: 0.625rem;
    }
  }
  .rss-link {
    float: right;
    text-decoration: none;
    border: 1px solid var(--color-secondary);
    color: #fff;
    background: var(--color-primary);
    padding: 0.0625rem 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    
    &:hover, &:focus {
      background-color: darken(var(--color-primary), 10%);
      color: var(--color-text);
    }
  }
  .post-list {
    padding: 1.25rem 2.5rem;
    > li {
      border-bottom: 1px solid var(--color-border);
      margin-bottom: 1.875rem;
    }
    .post-link, .post-title {
      font-size: var(--font-size-large);
      font-family: 'Candara', 'Kreon', serif;
    }
    .post-meta {
      color: var(--color-secondary);
      margin: 0 1.25rem;
      margin-bottom: 0.3125rem;
    }
    .post-excerpt {
      margin: 0 1.25rem;
      a {
        color: var(--color-link-hover);
        transition: color 0.3s;
        &:hover {
          color: darken(var(--color-link-hover), 10%);
        }
      }
      img {
        transition: opacity 0.3s ease-in-out;
      }
    }
    @include media-query($on-palm) {
      padding: 0.625rem;
    }
  }
  .pagination {
    .previous, .next {
      border-radius: 1.25rem;
      transition: background-color 0.3s, color 0.3s;
    }
    a.previous:hover, a.next:hover {
      background-color: var(--color-background);
      color: var(--color-primary);
    }
  }
}