:root {
    --primary-color: #0056b3; // Example primary color
    --text-color: #333;
    --text-color-light: #999;
    --background-color: #fff;
    --background-color-dark: #121212;
    --text-color-dark: #e0e0e0;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-color: #0096ff; // Brighter primary color for dark mode
      --text-color: var(--text-color-dark);
      --background-color: var(--background-color-dark);
    }
  }
  
  .post {
      .post-header {
          margin: 0 5rem;
          margin-bottom: 0.625rem;
          padding: 1.25rem;
          .post-title {
              font-size: 1.5rem;
              font-weight: 400;
              font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
              color: var(--primary-color);
              margin: 0 -5rem;
              @include media-query($on-palm) {
                  font-size: 2.125rem;
              }
          }
          .post-meta {
              color: var(--text-color-light);
              font-size: $base-font-size;
              margin: 0 -5rem;
              line-height: 1.6;
          }
          @include media-query($on-palm) {
              text-align: center;
              margin-bottom: 0.625rem;
              padding: 0.625rem;
          }
      }
  
      .post-content {
        color: var(--text-color);
        
        h1, h2, h3, h4, h5, h6 {
            color: var(--heading-color);
            margin-bottom: 1rem;
            margin-top: 2rem;
            font-weight: 600;
        }
        
        /* h1{
            font-size: calc(.500rem + 1.5vw); // Fluid typography for larger headings
        } */
        
        h1, h2, h3 {
            border-bottom: 2px solid var(--border-color);
            padding-bottom: 0.5rem;
        }
        
        pre {
            margin: 0 -1rem;
            padding: 1rem;
            background-color: #f5f5f5;
            overflow-x: auto;
            @include media-query($on-palm) {
                margin: 0;
            }
        }
    }
    .post-comments {
        padding-top: 30px;
    }
}