---
layout: default
---
<header>
  <p class="post-meta" aria-label="Post date and author">
    <i class="fa fa-calendar text-darkred" aria-hidden="true"></i> 
    {{ page.date | date: "%b %-d, %Y" }}
    {% if page.author %} | 
    {% for author in user %} 
      <i class="fa fa-user text-success" aria-hidden="true"></i> 
      <a href="#author" aria-label="Author: {{ author.name }}"><strong>{{ author.name }}</strong></a>
    {% endfor %} 
    {% endif %} 
    | {% include reading-time.html %}
  </p>
  <p class="post-meta">{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  <p class="post-meta">
    {% for tag in page.tags %}
      <a class="tag" href="/tags/#{{ tag | slugify }}" style="margin-right: 5px; background-color: #f0f0f0; color: #333; padding: 3px 10px; border-radius: 5px; text-decoration: none;">{{ tag }}</a>
    {% endfor %}
  </p>
</header>

<article class="post-content">
  <div class="addthis_inline_share_toolbox" data-lazy-load="true"></div>
  {{ content }}
    <!--<div class="addthis_inline_follow_toolbox"></div>-->
    <a id="author"> </a>  
    
      {% include related.html %}  

      {% include comment.html %}
      
      {% include authorintro.html %}
    
  
  </article>
  

</div>
